/* --  Widgets  -->  Oldschool Post By Tags Widget  -->  Sidebar "Oldschool Post By Tags Widget"  -- */

.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget {
	padding: 6px;
    border-radius: 4px;
    background-color: #fff5db;        
}

.site-layer__middle .oldschool-sidebar .sidebar-widget-block__widget-title {
    margin: 0 auto 20px;
	text-align: center;
	font: 600 18px/25px 'Montserrat', sans-serif;
	color: #fff;
	background-color: #b71c1c;
	border-top: 1px solid #730b0b;
	border-bottom: 1px solid #730b0b;
	text-transform: capitalize;
}

.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__content-grid {
    position: relative;
	margin: 10px 0;
    width: 100%; 
}
   
.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__post-counter {
	display: flex;
	position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
	top: -10px;
    left: -10px;
	padding: 0px 5px;
	z-index: 2;
    min-width: 20px;
    height: 20px;		
    background-color: #000;        
    border-radius: 50%;
    color: #fff;        
    font: 800 15px/25px 'Montserrat', sans-serif;   
}

.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__link {
	display: flex;
    position: relative;
	width: 100%;
    height: 69.4px;       
}
 
.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__thumbnail {
    display: flex;
	justify-content: center;
	width: 100%;
    max-width: 69.4px;		
    background-color: #fff;        
    overflow: hidden;        
}

.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__thumbnail-image {
	width: auto;
	height: 69.4px;
	max-width: 200%;
	color: #fff;	
}

.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__thumbnail-image:hover {
	opacity: 1;
}

.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__title {
    padding: 0 10px;
    width: 100%;
}

.site-layer__middle .oldschool-sidebar .oldschool-posts-by-tags-widget .posts-by-tags-widget__title h3 {
	font: 600 11px/11px 'Montserrat', sans-serif;	
    text-align: left;
	color: #111;
	background: none;
	border: 0;
}

.site-layer__middle .oldschool-sidebar .posts-by-tags-widget__content-grid:hover .posts-by-tags-widget__link {
	opacity: 0.7;
}

.site-layer__middle .oldschool-sidebar .posts-by-tags-widget__content-grid:hover .posts-by-tags-widget__post-counter {
	background-color: #b71c1c;
}

/* --  Widgets  -->  Oldschool Post By Tags Widget  -->  Footer "Oldschool Post By Tags Widget"  -- */


.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget {
	padding: 5px;
	margin: 20px 0;
    background-color: none;       
}

.site-layer__bottom .footer-middle-block__footer-widgets .footer-widget-block__widget-title {
	margin: -5px auto 10px;
	text-align: center;
	font: 600 18px/25px 'Montserrat', sans-serif;
	color: #a0a0a0;
	text-transform: capitalize;
}

.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__content-grid {
    position: relative;
	margin: 10px 0;
    width: 100%; 
}
   
.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__post-counter {
	display: flex;
	position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
	top: -10px;
    left: -10px;
	padding: 0px 5px;
	z-index: 2;
    min-width: 20px;
    height: 20px;		
    background-color: #000;        
    border-radius: 50%;
    color: #fff;        
    font: 800 15px/25px 'Montserrat', sans-serif;   
}

.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__link {
	display: flex;
    position: relative;
	width: 100%;
    height: 69.4px;       
}
 
.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__thumbnail {
    display: flex;
	justify-content: center;
	width: 100%;
    max-width: 69.4px;		
    background-color: #fff;        
    overflow: hidden;        
}

.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__thumbnail-image {
	width: auto;
	height: 69.4px;
	max-width: 200%;
	color: #fff;	
}

.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__thumbnail-image:hover {
	opacity: 1;
}

.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__title {
    padding: 0 10px;
    width: 100%;
}

.site-layer__bottom .footer-middle-block__footer-widgets .oldschool-posts-by-tags-widget .posts-by-tags-widget__title h3 {
	text-align: left;
	font: 600 11px/11px 'Montserrat', sans-serif;
	color: #a0a0a0;
	background: none;
	border: 0;
}

.site-layer__bottom .footer-middle-block__footer-widgets .posts-by-tags-widget__content-grid:hover .posts-by-tags-widget__link {
	opacity: 0.7;
}

.site-layer__bottom .footer-middle-block__footer-widgets .posts-by-tags-widget__content-grid:hover .posts-by-tags-widget__post-counter {
	background-color: #b71c1c;
}